/*Chapter9 style*/
body {
    background-color: rgb(234, 240, 249);
}
h1#chapter9{
    color: rgb(8, 8, 40);
}
h1#chapter9:hover {
    background-color: blueviolet;
    color: white;
}

/*adding style to ul children*/
ul{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

/*First child style*/
ul li:first-child{
    font-weight: bold;
    color: rgb(155, 80, 39);
}

/*Second child style*/
ul li:nth-child(2){
    color: green;
}

/*Third child style*/
ul li:nth-child(3) {
    color: rgb(144, 197, 250);
}

/*Fourth child style*/
ul li:nth-child(4){
    color: rgb(234, 175, 246);
}

/*Fifth child style*/
ul li:nth-child(5){
    color: crimson;
}


h2 {
    font-size: x-large;
}
/*Added a descendant selector to all p inside an ol*/
ol p{
    color: cadetblue;
}
/*Added child selector to all h3 under div*/
div > h3 {
    font-weight: bold;
    font-size: large;
    color:darkgrey;
}

/*Added Adjacent sibling selector to all inmediate p after h2*/

h2 + p {
    color: cornflowerblue;
}

/*General sibling selector to all p after h3*/
h3 ~ p {
    color: hotpink;
}

/*Adding a flexbox*/ 
.flex-container {
    display: flex;
    background-color: rgb(8, 8, 40);
  }

  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
